.card {
  padding: 15px;
  // background-color: #f5f5f5;
  border-radius: 5px;
  margin: 1rem;
  /* height: fit-content; */
  max-height: 37rem;
  text-align: center;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px inset;
}

.card_image {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px inset;
}
.card_image img {
  max-width: 100%;
}

.card_title {
  margin-bottom: 10px;
  color: #4a5295;
}

.list{
  color: #4a5295;
}

.card_value {
  color: #4f5396;
  font-weight: 400;
}